<?xml version="1.0" encoding="UTF-8" standalone="yes"?><plugin version="php"><id>xc_report</id><name>文章举报插件</name><url>https://316la.com/post/39.html</url><note>采集站/站群必备，为文章提供一个举报的入口</note><description>

VGpKVk5FOVVaekpPYW10MFRtcEJlVTVwTURCWlZGWnFURlJyTTA5SFNYUmFWR2N4VGpKUk1rNHlUWGRQUjBacFRHcEZNazU2WXpSTlJGVTFUVlJCTlU1cVFUMHVRbVY2U1VsQ1ZHWmpUR0pCYmpsaFZYWlVRazlaUzA5RFdrZE5QUT09</description><path>main.php</path><include>include.php</include><level>1</level><author><name>夏蝉</name><email>null@null.com</email><url>https://www.316la.com</url></author><source><name/><email/><url/></source><adapted>162090</adapted><version>1.1.0</version><pubdate>2022-05-05</pubdate><modified>2023-02-25</modified><price>66</price><phpver>5.6</phpver><advanced><dependency/><rewritefunctions/><existsfunctions/><conflict/></advanced><sidebars><sidebar1/><sidebar2/><sidebar3/><sidebar4/><sidebar5/><sidebar6/><sidebar7/><sidebar8/><sidebar9/></sidebars><hash>wTWjMmncpPGzBL2YwBBbQ8Xoez4yj3VJLtnIopoAoRLOf4GQxxZl91Gp4ljp4G+g</hash><downloader>TjJVNE9UZzJOamt0TmpBeU5pMDBZVFZqTFRrM09HSXRaVGcxTjJRMk4yTXdPR0ZpTGpFMk56YzRNRFU1TVRBNU5qQT0uQmV6SUlCVGZjTGJBbjlhVXZUQk9ZS09DWkdNPQ==</downloader></plugin>